<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>看电影</title>
</head>
<body class="movie-body">
<div class="movie-all">
    <h1><a href="https://blog.shengxuecheng.cn/">
        <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB+klEQVRYR9WXTVIaURDH//9H4opCsrDMApAbyA3iDeINMgXZyw2AE2Tc54Mj6AnUEyRHQMsF6MIqd1rw2uqZeuOAoRgfUw72juG97l/39NcQBQvV/m3t+8GH6XT0aTwcOR59BswkL76d6z8XTtddNahOy9zXZxzXOiENjgAZ7F797rtDk0YnN+Oqc/fqV+Ssc9gaOROLY47r7XOSXwoBELl4BhAZGpGho7TGnOcVftVjrD1w+mbGtAiEMgeQp7WMujYLQIBLiCRVEOdFfqLeOm0EqiD3FyJQQBXM58B7ARCcgtCM3n7NC/pvH0hHQCAjCFM5EBl5IapIO9lDudSPG1g2EUFS1iSqAFpeVZD25O5z0Hz8WApBfM2GMX9qbYB0a53R9l9bObkBJPOj3jkUIiSwlyUiXmWYfgXLjIwb7S5BHWxJoq5MwqzDKAtAlKQV85dg00G+CYAafqwYrYwuQM30RFYDZJyGyyJwU28HQvxYNOwIcpuGiwBq2BK9dLizJKCeWasKdGWbUXqMu6KXeAFQJLRgax3DjnYOIPrB53YJsOfl1tJLMkj+EjZBfPPqA75Qq6ugiK14w/YB3+D63/OqAn9zL29uBsCk3jmJF4q33wkhOI3Xq4oJStb827n+maxNk0Y7+U7MI+zp785ok9oywda91d2hWHkCzY/DpdtfKJAAAAAASUVORK5CYII="
                alt="看电影" title="看电影">
    </a></h1>
    <ul class="movie-list">
        <?php foreach ($list as $item): ?>
        <li>
            <div>
                <?php if (is_array($item)): ?>
                <a href="?N=<?= $item['hash']; ?>&T=hls">
                    <img src="./video/hls/<?= $item['thum']; ?>"
                         title="<?= $item['name']; ?>">
                    <p><?= $item['name']; ?></p>
                </a>
                <?php else: ?>
                <a href="?N=<?= $item; ?>">
                    <img src="./video/thum/<?= $item; ?>.jpg" title="<?= $item; ?>">
                    <p><?= $item; ?></p>
                </a>
                <?php endif; ?>
            </div>
        </li>
        <?php endforeach ?>
    </ul>
</div>
</body>
<script type="text/javascript" src="./assets/js/search.js"></script>
</html>
