.movie-body {
    background-color: #2f343f;
}

.movie-list li {
    list-style-type: none;
    margin: 8px;
    float: left;
}

.movie-list li div {
    background-color: grey;
    width: 208px;
    height: 155px;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.movie-list li div:hover {
    background-image: url("./../img/play.png");
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: 35%;
}

.movie-list li div a img:hover {
    opacity: 0.3;
    transition: 0.6s;
}

.movie-list li div a {
    text-decoration: none;
}

.movie-list li div a img {
    margin: 6px;
    width: 192px;
    height: 108px;
}

.movie-list li div a p {
    color: #f0f0f0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dplayer {
    margin: 0 auto;
    min-width: 960px;
    min-height: 480px;
}

input {
    margin: 0 auto;
    font-size: 100%;
    vertical-align: middle;
    *overflow: visible;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #555;
    display: inline-block;
    height: 20px;
    padding: 4px 32px 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
input:focus {
    outline: 0;
    border-color: rgba(255, 182, 193,0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 105, 180,0.075),0 0 8px rgba(255, 105, 180,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 105, 180,0.075),0 0 8px rgba(255, 105, 180,0.6);
    box-shadow: inset 0 1px 1px rgba(255, 105, 180,0.075),0 0 8px rgba(255, 105, 180,0.6);
}
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#search {
    /*display: block;*/
    margin-left: 60px;
    margin-right: auto;
    margin-top: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}